.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

.calculator {
    display: grid;
    width: 400px;
    height: 500px;
    border: 1px solid black;
    padding: 10px;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
}

.button {
    width: 100%;
    height: auto;
    font-size: 25px;
}

#input-results {
    grid-column: 1 / span 4;
}

#plus {
    grid-column: 4 / span 1;
    grid-row: 3 / span 2;
}

#zero {
    grid-column: 1 / span 2;
}

#equal {
    grid-column: 4 / span 1;
    grid-row: 5 / span 2;
}